.header {
  padding: 24px 0 16px;
  background-color: $white-color;

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    @media (max-width: 1024px) {
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  &__logo {
    display: inline-flex;
    margin-right: 16px;
    transition: opacity $transition;

    @include hover {
      opacity: 0.8;
    }

    @media (max-width: 1024px) {
      margin: 0 15px;
    }
  }

  &__search {
    padding: 11px 42px 11px 48px;
    width: 100%;
    background:
      url("../img/search-icon.svg") left 16px center no-repeat
      $bg-color;

    &::placeholder {
      text-align: center;
    }
  }

  &__search-form {
    position: relative;
    margin: 0 auto;
    width: 49%;

    &.is-active {
      .header__search-clear {
        display: block;
      }
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__search-clear {
    position: absolute;
    right: 17px;
    top: 50%;
    display: none;
    border: none;
    padding: 0;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__favorites {
    display: flex;
    align-items: center;
    margin-left: 15px;
    border-radius: 37px;
    padding: 6px 10px 5px;
    transition: background-color $transition;

    img {
      flex-shrink: 0;
      margin-right: 10px;
    }

    @include hover {
      background-color: $bg-color;
    }

    @media (max-width: 1024px) {
      margin-left: 0;
      padding: 0;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    margin-left: 40px;

    img {
      flex-shrink: 0;
      margin-left: 7px;
      border-radius: 50%;
      width: 32px;
      height: 32px;
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__bottom {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__city-picker {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 60%);
    opacity: 0;
    transition: $menu-transition;

    &.is-active {
      opacity: 1;
    }
  }
}

.city-picker {
  position: relative;

  &__head {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 200px;
    cursor: pointer;

    @include hover {
      .city-picker__icon {
        background-color: $bg-color;
      }
    }
  }

  &__current {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__icon {
    display: block;
    flex-shrink: 0;
    margin-right: 8px;
    border: 1px solid #a7a7a7;
    border-radius: 50%;
    padding: 0;
    width: 32px;
    height: 32px;
    background:
      url("../img/city-picker-icon.svg") center / 16px 19px no-repeat
      $white-color;
    transition: background-color $transition;
    cursor: pointer;
  }

  &__modal {
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 22;
    display: none;
    border-radius: 10px;
    padding-top: 24px;
    width: 385px;
    box-shadow: 0 7px 38px rgba(44, 62, 106, 25%);
    background-color: #fbfbfb;
    opacity: 0;
    transform: translateY(50px);
    transition: $transition;
  }

  &__search {
    position: relative;
    margin-bottom: 15px;
    padding: 0 16px;

    &.is-active {
      .city-picker__clear {
        display: block;
      }
    }
  }

  &__input {
    border-color: #abc8ea;

    &::placeholder {
      color: $icons-color;
    }
  }

  &__clear {
    position: absolute;
    right: 32px;
    top: 50%;
    display: none;
    border: none;
    padding: 0;
    width: 14px;
    height: 14px;
    background: transparent;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__selected {
    margin: 16px 16px 8px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 15px;
  }

  &__save {
    outline: none;
    border: none;
    border-radius: 0 0 10px 10px;
    padding: 16px 30px;
    width: 100%;
    font-family: "Formular", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
    background-color: $action-color;
    cursor: pointer;
  }

  &.is-animated {
    .city-picker__modal {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &.is-active {
    .city-picker__modal {
      display: block;
    }
  }

  &__items,
  &__results {
    position: relative;
    max-height: 200px;
  }
}

.selected-list {
  display: flex;
  flex-wrap: wrap;
  margin: -4px -8px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    margin: 4px 8px;
    border-radius: 49px;
    padding: 9px 12px 9px 17px;
    color: $white-color;
    background: $action-color;
    transition: opacity $transition;
    animation: fade-in $transition;

    &.is-fade-out {
      opacity: 0;
    }
  }

  &__delete {
    @include flex-center;

    margin-left: 20px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    path {
      fill: $white-color;
    }
  }
}

.city-list {
  list-style: none;

  &__name mark {
    color: $action-color;
    background-color: transparent;
  }

  &__item {
    padding: 8px 23px;
    transition: background-color $transition;
    cursor: pointer;

    &.is-active {
      background-color: $bg-color;
    }

    @include hover {
      background-color: $bg-color;
    }
  }

  &__region {
    font-size: 12px;
    line-height: 20px;
    color: $grey-color;
  }
}

.nav {
  > ul {
    display: flex;
    flex-wrap: wrap;

    > li {
      @include mr(30px);

      flex-shrink: 0;

      > a {
        display: inline-block;
        border-radius: 34px;
        padding: 2px 10px;
        transition: background-color $transition;

        @include hover {
          background-color: $bg-color;
        }
      }

      @media (max-width: 1440px) {
        @include mr(15px);

        font-size: 14px;
      }
    }
  }
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 40;
  display: none;
  width: 100%;
  height: 100vh;
  max-width: 280px;
  background-color: $white-color;
  opacity: 0;
  transform: translateX(-100%);
  transition: $menu-transition;

  &__wrapper {
    position: relative;
    padding: 24px 16px;
    height: 100%;
  }

  &__close {
    position: absolute;
    right: -32px;
    top: 10px;
    z-index: 13;
    display: block;
    border: none;
    background: transparent;
    transition: $transition;

    svg {
      width: 17px;
      height: 17px;
    }

    path {
      fill: $white-color;
    }
  }

  &.is-active {
    opacity: 1;
    transform: translateX(0);
  }
}
