.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 40;
  display: none;
  width: 100%;
  height: 100vh;
  max-width: 280px;
  background-color: $white-color;
  opacity: 0;
  transform: translateX(-100%);
  transition: $menu-transition;

  &__wrapper {
    position: relative;
    padding: 24px 0;
    height: 100%;
  }

  &__close {
    position: absolute;
    right: -32px;
    top: 10px;
    z-index: 13;
    display: block;
    border: none;
    background: transparent;
    transition: $transition;

    svg {
      width: 17px;
      height: 17px;
    }

    path {
      fill: $white-color;
    }
  }

  &__profile {
    justify-content: center;
    margin-bottom: 16px;
  }

  &__city-picker {
    margin-bottom: 30px;
  }

  &__top {
    padding: 0 16px;
  }

  &__footer {
    padding: 0 24px;
    font-size: 12px;
    color: $grey-color;

    li {
      @include mb(20px);
    }
  }

  &.is-active {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu-tabs {
  &__head {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    border-bottom: 1px solid #d8d8d8;
  }

  &__btn {
    position: relative;
    top: 2px;
    display: block;
    border: none;
    border-bottom: 3px solid transparent;
    padding: 0;
    padding-bottom: 12px;
    font-family: "Formular", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: $grey-color;
    background: transparent;
    cursor: pointer;

    &.is-active {
      border-color: $action-color;
      color: $main-color;
    }
  }

  &__content {
    margin-bottom: 15px;
  }

  &__item {
    display: none;

    li {
      a {
        display: block;
        padding: 10px 24px;
        font-size: 15px;
      }
    }

    &.is-active {
      display: block;
    }
  }
}