.menu__tabs.menu-tabs
  .menu-tabs__head
    button.menu-tabs__btn.is-active(data-id="1") Высшее
    button.menu-tabs__btn(data-id="2") Среднее
  .menu-tabs__content
    .menu-tabs__item.is-active(data-id="1")
      ul
        li
          a Вузы
        li
          a Специальности
    .menu-tabs__item(data-id="2")
      ul
        li
          a Колледжи
        li
          a Техникумы
        li
          a Училища
        li
          a Специальности