.header__nav.nav
  ul
    li
      a(href="#") Вузы
    li
      a(href="#") Колледжи
    li
      a(href="#") Техникумы
    li
      a(href="#") Училища
    li
      a(href="#") Специальности
    li
      a(href="#") Профессии
    li
      a(href="#") Отзывы
    li
      a(href="#") Учебным заведениям
    li
      a(href="#") Тест на профориентацию
