
.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.page-wrapper {
  @include footerToBottom;

  overflow: hidden;
}

.main {
  padding-top: 30px;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.disable-scroll {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

.search-input {
  appearance: none;
  outline: none;
  border: 2px solid transparent;
  border-radius: 100px;
  padding: 11px 42px 11px 25px;
  width: 100%;
  box-shadow: none;
  background-color: $white-color;
  transition: background-color $transition;

  &::placeholder {
    color: $grey-color;
  }

  &:focus,
  &:active {
    border-color: #abc8ea;
    background-color: $white-color;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.profile-box {
  display: flex;
  align-items: center;

  img {
    flex-shrink: 0;
    margin-left: 7px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
}