html {
  height: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: $font-family;
  font-size: 14px;
  line-height: 22px;
  color: $main-color;
  background-color: $bg-color;
}

img,
video {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font: inherit;
}

.page-wrapper {
  @include footerToBottom;

  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.main {
  padding-top: 30px;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.disable-scroll {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

.search-input {
  appearance: none;
  outline: none;
  border: 2px solid transparent;
  border-radius: 100px;
  padding: 11px 42px 11px 25px;
  width: 100%;
  box-shadow: none;
  transition: background-color $transition;
  background-color: $white-color;

  &::placeholder {
    color: $grey-color;
  }

  &:focus,
  &:active {
    border-color: #abc8ea;
    background-color: $white-color;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}
