// base
:root {
  --content-width: 1216px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + var(--container-offset));
  --cities-height: 200px;
}

$font-family: "OpenSans", sans-serif;
$transition: 0.3s ease-in-out;
$menu-transition: 0.35s ease-in-out;

// colors
$main-color: #222;
$white-color: #fff;
$black-color: #000;
$action-color: #0656b4;
$grey-color: #767676;
$bg-color: #f1f1f1;
$icons-color: #a7a7a7;
